<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="../images/favicon.ico">

	<!-- Bootstrap core CSS -->
	<link href="../lib/bootstrap/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

	<link href="../css/style.css" rel="stylesheet">

	<link rel="stylesheet" href="../editor/activity/css/chocolat.css" type="text/css" media="screen" charset="utf-8" />

	<link href="../styles/activity.css" rel="stylesheet">
	<script src="../lib/jquery/jquery.min.js"></script>
	<title>活动展示</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li id="index"><a href="../index.html">首页</a></li>
				<li id="post"><a href="postList.html">文章分享</a></li>
				<li id="activityPage"><a href="activity.html">活动展示</a> </li>
				<li id="resource"><a href="resource.html">资源下载</a></li>
				<li id="commentPage"><a href="comments.html">讨论区</a></li>
				<li id="publish"><a href="markdownEditor.html">发布</a></li>
				<li><a href="renwu.html">老师查看</a></li>
			</ul>

			<ul class="nav navbar-nav navbar-right">

				<li id="userLink" class="dropdown"><a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" id="username"><b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="myArticles.html">我的文章</a></li>
						<li><a href="userInfo.html">个人档案</a></li>
						<li><a href="modifyPassword.html">修改密码</a></li>
					</ul>
				</li>
				<li id="logout"><a>退出</a></li>
				<li id="login"><a href="login.html">登录</a> </li>
			</ul>

		</div>
		<!--/.nav-collapse -->
	</div>
</nav>

<div class="container galleryContainer">
	<section style="margin-top: 35px;">
	<!--gallery-starts-->
	<div class="gallery" id="gallery">
		<div class="container">
			<a class="btn btn-default pull-right" id="addBtn">添加活动</a>
			<br/>
			<div class="row" id="addAct" hidden>
				<div class="col-md-8 col-md-offset-2">

					<div id="add_plan_contanier" class="panel panel-default">
						<div class="panel-heading">
							<span class="widget-caption">添加计划</span>
						</div>
						<div class="panel-body">
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<label for="upload_file" class="col-sm-2 control-label">上传照片</label>
									<div class="col-sm-4">
										<input  multiple type="file" name="file" id="upload_file" class="element" accept="image/*"
												style="display: none;" onchange="change();">
										<input type="text" class="form-control" id="upload_file_tmp" name="upload_file_tmp"
											   readonly="readonly" onclick="$('#upload_file').click();">
									</div>
									<div class="col-sm-2">
										<button type="button" class="btn btn-primary" id="select_file"
												onclick="$('#upload_file').click();">浏览
										</button>
									</div>
								</div>
								<div class="form-group">
									<label for="start_date" class="col-sm-2 control-label">活动标题</label>
									<div class="col-sm-5">
										<input type="text" class="form-control" id="start_date" placeholder="">
									</div>
								</div>
								<div class="form-group">
									<label for="plan_details" class="col-sm-2 control-label">活动描述</label>
									<div class="col-sm-8">
										<textarea class="form-control" rows="3" id="plan_details"></textarea>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-5 col-sm-5">
										<a class="btn btn-success" id="subBtn">&nbsp;提交&nbsp;</a>
									    <a class="btn btn-default" id="cancelBtn">&nbsp;取消&nbsp;</a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
          <div class="row" style="text-align: center">
			  <h3 style="color: black">活动相册</h3>
		  </div>

			<div class="gallery-bottom">
					<div class="col-md-4">
						<div class="gallery-left">
							<a href="../editor/activity/images/g1.jpg">
								<img src="../editor/activity/images/g1.jpg" alt="name" />
							</a>
							<div class="" style="text-align: center">
								<h4>活动标题</h4>
								<p>发布者 <span>发布时间</span></p>
								<p>活动描述</p>
							</div>
						</div>
					</div>
				    <div class="col-md-4">
					<div class="gallery-left">
						<a href="../editor/activity/images/g2.jpg">
							<img src="../editor/activity/images/g2.jpg" alt="name" />
						</a>
						<div class="" style="text-align: center">
							<h4>活动标题</h4>
							<p>发布者 <span>发布时间</span></p>
							<p>活动描述</p>
						</div>
					</div>
					</div>
				    <div class="col-md-4">
					    <div class="gallery-left">
						<a href="../editor/activity/images/g3.jpg">
							<img src="../editor/activity/images/g3.jpg" alt="name" />
						</a>
							<div class="" style="text-align: center">
								<h4>活动标题</h4>
								<p>发布者 <span>发布时间</span></p>
								<p>活动描述</p>
							</div>
					</div>
					</div>

				<div class="col-md-4">
					<div class="gallery-left">
						<a href="../editor/activity/images/g4.jpg">
							<img src="../editor/activity/images/g4.jpg" alt="name" />
						</a>
						<div class="" style="text-align: center">
							<h4>活动标题</h4>
							<p>发布者 <span>发布时间</span></p>
							<p>活动描述</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="gallery-left">
						<a href="../editor/activity/images/g5.jpg">
							<img src="../editor/activity/images/g5.jpg" alt="name" />
						</a>
						<div class="" style="text-align: center">
							<h4>活动标题</h4>
							<p>发布者 <span>发布时间</span></p>
							<p>活动描述</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="gallery-left">
						<a href="../editor/activity/images/g6.jpg">
							<img src="../editor/activity/images/g6.jpg" alt="name" />
						</a>
						<div class="" style="text-align: center">
							<h4>活动标题</h4>
							<p>发布者 <span>发布时间</span></p>
							<p>活动描述</p>
						</div>
					</div>
				</div>
					<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--gallery-->
	</section>
</div>
<script type="applijewelleryion/x-javascript">
addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
</script>


<script src="../lib/bootstrap/bootstrap.min.js"></script>
<script src="../editor/activity/js/jquery.chocolat.js"></script>
<script src="../scripts/nav.js"></script>
<script src="../scripts/activity.js"></script>
</body>
</html>