<!DOCTYPE html>
<html lang="en">
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Rest Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="applijewelleryion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="../editor/activity/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="../editor/activity/css/style.css" rel='stylesheet' type='text/css' />
<script src="../editor/activity/js/jquery-1.11.1.min.js"></script>
	<!-- Bootstrap core CSS -->
	<link href="../css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<!-- Custom styles for this template -->
	<link href="../css/jquery.bxslider.css" rel="stylesheet">
	<link href="../css/style.css" rel="stylesheet">
	<link rel="icon" href="../images/favicon.ico">
<!--webfonts-->
   <!--<link href='http://fonts.useso.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600,700|Six+Caps' rel='stylesheet' type='text/css'>-->
<!--//webfonts-->
</head>
<body>

<!-- Navigation -->
<style>
	.dropdown-menu{
		background-color: #222222;
	}

	.dropdown-menu>li>a{
		color:#fff;
	}
</style>
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li id="index"><a href="../index.html">首页</a></li>
				<li id="post"><a href="postList.html">成果展示</a></li>
				<li id="activityPage"><a href="activity.html">活动展示</a> </li>
				<li id="resource"><a href="resource.html">资源下载</a></li>
				<li id="commentPage"><a href="comments.html">讨论区</a></li>
				<li><a href="markdownEditor.html">发布</a></li>
			</ul>

			<ul class="nav navbar-nav navbar-right">

				<li id="userLink" class="dropdown"><a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">username <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="/myArticles">我的文章</a></li>
						<li><a href="userInfo.html">个人档案</a></li>
					</ul>
				</li>
				<li><a href="/logout">退出</a></li>
				<li><a href="/login">登录</a> </li>
				<li><a href="/register">注册</a> </li>

			</ul>

		</div>
		<!--/.nav-collapse -->
	</div>
</nav>

<div class="container">
	<section style="margin-top: 35px;">
	<!--light-box-files -->
		<script src="../editor/activity/js/jquery.chocolat.js"></script>
		<link rel="stylesheet" href="../editor/activity/css/chocolat.css" type="text/css" media="screen" charset="utf-8" />
		<!--light-box-files -->
		<script type="text/javascript" charset="utf-8">
		$(function() {
			$('.gallery-bottom a').Chocolat();
		});
		</script>
	<!--gallery-starts--> 
	<div class="gallery" id="gallery">
		<div class="container">
				<h3>活动相册</h3>
			<div class="gallery-bottom">
					<div class="col-md-4">
						<div class="gallery-left">
							<a href="../editor/activity/images/g1.jpg">
								<img src="../editor/activity/images/g1.jpg" alt="name" />
							</a>
							<h4>活动标题</h4>
							<p>发布者 <span>发布时间</span></p>
							<p>活动描述</p>
						</div>
					</div>
				    <div class="col-md-4">
					<div class="gallery-left">
						<a href="../editor/activity/images/g2.jpg">
							<img src="../editor/activity/images/g2.jpg" alt="name" />
						</a>
						<h4>活动标题</h4>
						<p>发布者 <span>发布时间</span></p>
						<p>活动描述</p>
					</div>
					</div>
				    <div class="col-md-4">
					    <div class="gallery-left">
						<a href="../editor/activity/images/g3.jpg">
							<img src="../editor/activity/images/g3.jpg" alt="name" />
						</a>
							<h4>活动标题</h4>
						<p>发布者 <span>发布时间</span></p>
						<p>活动描述</p>
					</div>
					</div>

				<div class="col-md-4">
					<div class="gallery-left">
						<a href="../editor/activity/images/g4.jpg">
							<img src="../editor/activity/images/g4.jpg" alt="name" />
						</a>
						<h4>活动标题</h4>
						<p>发布者 <span>发布时间</span></p>
						<p>活动描述</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="gallery-left">
						<a href="../editor/activity/images/g5.jpg">
							<img src="../editor/activity/images/g5.jpg" alt="name" />
						</a>
						<h4>活动标题</h4>
						<p>发布者 <span>发布时间</span></p>
						<p>活动描述</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="gallery-left">
						<a href="../editor/activity/images/g6.jpg">
							<img src="../editor/activity/images/g6.jpg" alt="name" />
						</a>
						<h4>活动标题</h4>
						<p>发布者 <span>发布时间</span></p>
						<p>活动描述</p>
					</div>
				</div>
					<div class="clearfix"></div>
			</div>
		</div>
	</div>	
	<!--gallery-->
	</section>
</div>
<script src="../scripts/activity.js"></script>
</body>
</html>