<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../images/favicon.ico">

    <!-- 评论插件css 放在bootstrap前，避免样式被替换 -->
    <link href="../css/commentCopy.css" rel="stylesheet"  >
    <!-- Bootstrap core CSS -->
    <link href="../lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Custom styles for this template -->

    <link href="../css/style.css" rel="stylesheet">
    <link href="../styles/commentDetail.css" rel="stylesheet">
    <title>讨论区</title>
</head>
<body class="is-enableBrandingButtons single is-noJs">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li id="index"><a href="../index.html">首页</a></li>
                <li id="post"><a href="postList.html">文章分享</a></li>
                <li id="activityPage"><a href="activity.html">活动展示</a> </li>
                <li id="resource"><a href="resource.html">资源下载</a></li>
                <li id="commentPage"><a href="comments.html">讨论区</a></li>
                <li id="publish"><a href="markdownEditor.html">发布</a></li>
                <li><a href="renwu.html">老师查看</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">

                <li id="userLink" class="dropdown"><a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" id="username"><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="myArticles.html">我的文章</a></li>
                        <li><a href="userInfo.html">个人档案</a></li>
                        <li><a href="modifyPassword.html">修改密码</a></li>
                    </ul>
                </li>
                <li id="logout"><a>退出</a></li>
                <li id="login"><a href="login.html">登录</a> </li>
            </ul>

        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <section style="margin-top: 35px;">
        <div class="row" >
            <div class="site-main surface-container">
                <article class="u-paddingTop50">
                    <div class="entry-header">
                        <h2 class="entry-title" itemprop="headline">两张表怎么能查出如下格式的数组？ 或者如何能组装成如下格式的数组！</h2>
                        <div class="entry-meta">
                            <a href="#"><time datetime="2016-03-15T13:09:29+08:00">Mar 15, 2016</time></a><span class="middotDivider"></span>
                        </div>
                    </div>
                    <meta itemscope itemprop="mainEntityOfPage"  itemType="https://schema.org/WebPage" itemid="https://fatesinger.com/78012"/>
                    <meta itemprop="datePublished" content="2016-03-15T13:09:29+08:00"/>
                    <meta itemprop="dateModified" content="2016-03-15T13:09:29+08:00"/>
                    <div class="grap" itemprop="articleBody">
                        <p>首先第一张表的表名是tableone，第二张就叫tabletwo吧！
                            第一张表里的template_id 和 第二张表的tem_id相关联！～`～</p>
                    </div>
                </article>
                <div id="comments" class="responsesWrapper">
                    <h3 class="responses-title">评论数: <span class="commentCount">25</span></h3>
                    <ol class="commentlist">
                        <li class="comment" itemtype="http://schema.org/Comment" data-id="1744" itemscope="" itemprop="comment">
                            <div id="comment-1744" class="comment-block">
                                <div class="comment-info u-clearfix">
                                   <!-- <div class="comment-avatar">
                                        <img height=40 width=40 data-lazyr="https://secure.gravatar.com/avatar/bae7710d5271fe63d4dfcf86965afbda?s=40&d=mm&r=x" class="avatar" />
                                    </div>-->
                                    <div class="comment-meta">
                                        <div class="comment-author" itemprop="author"><a href='http://synyan.net' rel='external nofollow' class='url'>synyan</a><span class="comment-reply-link u-cursorPointer" onclick="return addComment.moveForm('comment-1744', '1744', 'respond', '78012')">回复</span></div>
                                        <div class="comment-time" itemprop="datePublished" datetime="2016-03-29T12:26:40+08:00">Mar 29,2016</div>
                                    </div>
                                </div>
                                <div class="comment-content" itemprop="description">
                                    <p>想在数字前面加上&#8221;#&#8221;怎么弄？试了几次没成功……</p>
                                </div>
                            </div>
                            <ol class="children">
                                <li class="comment" itemtype="http://schema.org/Comment" data-id="1745" itemscope="" itemprop="comment">
                                    <div id="comment-1745" class="comment-block">
                                        <div class="comment-info u-clearfix">
                                            <div class="comment-meta">
                                                <div class="comment-author" itemprop="author">Jimmy<span class="comment-reply-link u-cursorPointer" onclick="return addComment.moveForm('comment-1745', '1745', 'respond', '78012')">回复</span></div>
                                                <div class="comment-time" itemprop="datePublished" datetime="2016-03-29T12:39:23+08:00">Mar 29,2016</div>
                                            </div>
                                        </div>
                                        <div class="comment-content" itemprop="description">
                                            <p><a href="#comment-1744" rel="nofollow" data-id="1744" class="cute atreply">@synyan</a> </p>
                                            <p>content:"#" counter(b, decimal)</p>
                                        </div>
                                    </div>
                                </li><!-- #comment-## -->
                                <li class="comment" itemtype="http://schema.org/Comment" data-id="1746" itemscope="" itemprop="comment">
                                    <div id="comment-1746" class="comment-block">
                                        <div class="comment-info u-clearfix">
                                            <div class="comment-meta">
                                                <div class="comment-author" itemprop="author"><a href='http://synyan.net' rel='external nofollow' class='url'>synyan</a><span class="comment-reply-link u-cursorPointer" onclick="return addComment.moveForm('comment-1746', '1746', 'respond', '78012')">回复</span></div>
                                                <div class="comment-time" itemprop="datePublished" datetime="2016-03-29T12:52:34+08:00">Mar 29,2016</div>
                                            </div>
                                        </div>
                                        <div class="comment-content" itemprop="description">
                                            <p><a href="#comment-1745" rel="nofollow" data-id="1745" class="cute atreply">@Jimmy</a> 原来如此简单，我写成了content:&#8221;#&#8221; . counter(b, decimal) </p>
                                        </div>
                                    </div>
                                </li><!-- #comment-## -->
                                <li class="comment" itemtype="http://schema.org/Comment" data-id="1766" itemscope="" itemprop="comment">
                                    <div id="comment-1766" class="comment-block">
                                        <div class="comment-info u-clearfix">
                                            <div class="comment-meta">
                                                <div class="comment-author" itemprop="author">chasonma<span class="comment-reply-link u-cursorPointer" onclick="return addComment.moveForm('comment-1766', '1766', 'respond', '78012')">回复</span></div>
                                                <div class="comment-time" itemprop="datePublished" datetime="2016-03-31T15:38:01+08:00">Mar 31,2016</div>
                                            </div>
                                        </div>
                                        <div class="comment-content" itemprop="description">
                                            <p><a href="#comment-1746" rel="nofollow" data-id="1746" class="cute atreply">@synyan</a> 连接符</p>
                                        </div>
                                    </div>
                                </li><!-- #comment-## -->
                            </ol><!-- .children -->
                        </li><!-- #comment-## -->
                    </ol>
                    <nav class="commentnav u-textAlignCenter" data-id="78012" data-max="2">
                        <span class="cnav-item"  data-paged="1">上一页</span>
                        <span class="chartPage-verticalDivider"></span>
                        <span class="cnav-item disabled">下一页</span>
                    </nav>
                    <div id="respond" class="respond" role="form">
                        <h3 id="reply-title" class="comments-title">发表留言</h3>
                        <form action="https://fatesinger.com/wp-comments-post.php" method="post" id="commentform" class="responsesForm">
                            <p class="comment-note">
                                不留下你的想法吗？
                            </p>
                            <p class="comment-form-comment comment-form-input">
                                <label for="comment">评论</label>
                                <textarea id="comment" class="inputGroup inputTextarea" aria-required="true" rows="8" cols="45" name="comment"></textarea>
                            </p>
                            <div class="inputSubmit" data-action="submitComment">发表评论</div>
                            <a rel="nofollow" id="cancel-comment-reply-link" href="#" style="display:none;">点击取消评论.</a>
                            <input type='hidden' name='comment_post_ID' value='#' id='comment_post_ID' />
                            <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
<footer class="footer">
    <div class="footer-bottom">
        <i class="fa fa-copyright"></i> Copyright 2017. 杭州电子科技大学<br>
    </div>
</footer>
</div>

<script src="../lib/jquery/jquery.min.js"></script>
<script src="../lib/bootstrap/bootstrap.min.js"></script>
<script type='text/javascript' src='../js/comment.js'></script>
<script src="../scripts/nav.js"></script>

<script src="../scripts/commentDetail.js"></script>
</body>
</html>