<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,minimal-ui">
    <title>CSS 实现评论楼层 &#8211; Fatesinger</title>
<link rel='stylesheet' id='app-css' href='../styles/comment.css' type='text/css' media='screen' />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Custom styles for this template -->
    <link href="../css/jquery.bxslider.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link rel="icon" href="../images/favicon.ico">
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49937515-1', 'auto');
  ga('send', 'pageview');

</script></head>
<body class="is-enableBrandingButtons single is-noJs">
<script>document.body.className = document.body.className.replace(/(^|\s)is-noJs(\s|$)/, "$1is-js$2")</script>
<style>
    .dropdown-menu{
        background-color: #222222;
    }

    .dropdown-menu>li>a{
        color:#fff;
    }
</style>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li id="index"><a href="../index.html">首页</a></li>
                <li id="post"><a href="postList.html">成果展示</a></li>
                <li id="activityPage"><a href="activity.html">活动展示</a> </li>
                <li id="resource"><a href="resource.html">资源下载</a></li>
                <li id="commentPage"><a href="comments.html">讨论区</a></li>
                <li><a href="markdownEditor.html">发布</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">

                <li id="userLink" class="dropdown"><a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">username <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/myArticles">我的文章</a></li>
                        <li><a href="/setting">个人档案</a></li>
                    </ul>
                </li>
                <li><a href="/logout">退出</a></li>
                <li><a href="/login">登录</a> </li>
                <li><a href="/register">注册</a> </li>

            </ul>

        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <section style="margin-top: 35px;">
        <div class="row" >
            <div class="site-main surface-container">
                <article class="u-paddingTop50">
                    <div class="entry-header">
                        <h2 class="entry-title" itemprop="headline">mmm实现</h2>
                        <div class="entry-meta">
                            <a href="#"><time datetime="2016-03-15T13:09:29+08:00">Mar 15, 2016</time></a><span class="middotDivider"></span>
                        </div>
                    </div>
                    <meta itemscope itemprop="mainEntityOfPage"  itemType="https://schema.org/WebPage" itemid="https://fatesinger.com/78012"/>
                    <meta itemprop="datePublished" content="2016-03-15T13:09:29+08:00"/>
                    <meta itemprop="dateModified" content="2016-03-15T13:09:29+08:00"/>
                    <div class="grap" itemprop="articleBody">
                        <p>很早就有的一个功能了，最早是研究出来的已经不可考，我今天带来的方法是几</p>
                        <h3>实现原理</h3>
                        <p>主要是使用了本文重点并不是介绍这两个属性，所以就不做详细介绍了。我们可以轻松实现.</p>
                        <img width=120 src="../images/loading.gif">
                        <p>欢迎<span class="cute">关注</span>我的公众号</p>
                    </div>
                </article>
                <div id="comments" class="responsesWrapper">
                    <h3 class="responses-title">评论数: <span class="commentCount">25</span></h3>
                    <ol class="commentlist">
                        <li class="comment" itemtype="http://schema.org/Comment" data-id="1744" itemscope="" itemprop="comment">
                            <div id="comment-1744" class="comment-block">
                                <div class="comment-info u-clearfix">
                                   <!-- <div class="comment-avatar">
                                        <img height=40 width=40 data-lazyr="https://secure.gravatar.com/avatar/bae7710d5271fe63d4dfcf86965afbda?s=40&d=mm&r=x" class="avatar" />
                                    </div>-->
                                    <div class="comment-meta">
                                        <div class="comment-author" itemprop="author"><a href='http://synyan.net' rel='external nofollow' class='url'>synyan</a><span class="comment-reply-link u-cursorPointer" onclick="return addComment.moveForm('comment-1744', '1744', 'respond', '78012')">回复</span></div>
                                        <div class="comment-time" itemprop="datePublished" datetime="2016-03-29T12:26:40+08:00">Mar 29,2016</div>
                                    </div>
                                </div>
                                <div class="comment-content" itemprop="description">
                                    <p>想在数字前面加上&#8221;#&#8221;怎么弄？试了几次没成功……</p>
                                </div>
                            </div>
                            <ol class="children">
                                <li class="comment" itemtype="http://schema.org/Comment" data-id="1745" itemscope="" itemprop="comment">
                                    <div id="comment-1745" class="comment-block">
                                        <div class="comment-info u-clearfix">
                                            <div class="comment-meta">
                                                <div class="comment-author" itemprop="author">Jimmy<span class="comment-reply-link u-cursorPointer" onclick="return addComment.moveForm('comment-1745', '1745', 'respond', '78012')">回复</span></div>
                                                <div class="comment-time" itemprop="datePublished" datetime="2016-03-29T12:39:23+08:00">Mar 29,2016</div>
                                            </div>
                                        </div>
                                        <div class="comment-content" itemprop="description">
                                            <p><a href="#comment-1744" rel="nofollow" data-id="1744" class="cute atreply">@synyan</a> </p>
                                            <p>content:"#" counter(b, decimal)</p>
                                        </div>
                                    </div>
                                </li><!-- #comment-## -->
                                <li class="comment" itemtype="http://schema.org/Comment" data-id="1746" itemscope="" itemprop="comment">
                                    <div id="comment-1746" class="comment-block">
                                        <div class="comment-info u-clearfix">
                                            <div class="comment-meta">
                                                <div class="comment-author" itemprop="author"><a href='http://synyan.net' rel='external nofollow' class='url'>synyan</a><span class="comment-reply-link u-cursorPointer" onclick="return addComment.moveForm('comment-1746', '1746', 'respond', '78012')">回复</span></div>
                                                <div class="comment-time" itemprop="datePublished" datetime="2016-03-29T12:52:34+08:00">Mar 29,2016</div>
                                            </div>
                                        </div>
                                        <div class="comment-content" itemprop="description">
                                            <p><a href="#comment-1745" rel="nofollow" data-id="1745" class="cute atreply">@Jimmy</a> 原来如此简单，我写成了content:&#8221;#&#8221; . counter(b, decimal) </p>
                                        </div>
                                    </div>
                                </li><!-- #comment-## -->
                                <li class="comment" itemtype="http://schema.org/Comment" data-id="1766" itemscope="" itemprop="comment">
                                    <div id="comment-1766" class="comment-block">
                                        <div class="comment-info u-clearfix">
                                            <div class="comment-meta">
                                                <div class="comment-author" itemprop="author">chasonma<span class="comment-reply-link u-cursorPointer" onclick="return addComment.moveForm('comment-1766', '1766', 'respond', '78012')">回复</span></div>
                                                <div class="comment-time" itemprop="datePublished" datetime="2016-03-31T15:38:01+08:00">Mar 31,2016</div>
                                            </div>
                                        </div>
                                        <div class="comment-content" itemprop="description">
                                            <p><a href="#comment-1746" rel="nofollow" data-id="1746" class="cute atreply">@synyan</a> 连接符</p>
                                        </div>
                                    </div>
                                </li><!-- #comment-## -->
                            </ol><!-- .children -->
                        </li><!-- #comment-## -->
                    </ol>
                    <nav class="commentnav u-textAlignCenter" data-id="78012" data-max="2">
                        <span class="cnav-item"  data-paged="1">上一页</span>
                        <span class="chartPage-verticalDivider"></span>
                        <span class="cnav-item disabled">下一页</span>
                    </nav>
                    <div id="respond" class="respond" role="form">
                        <h3 id="reply-title" class="comments-title">发表留言</h3>
                        <form action="https://fatesinger.com/wp-comments-post.php" method="post" id="commentform" class="responsesForm">
                            <p class="comment-note">
                                不留下你的想法吗？
                            </p>
                            <!-- <div class="info">
                         <p class="comment-form-author comment-form-input">
                             <label for="author">昵称</label>
                             <input id="author" type="text" class="inputGroup" aria-required="true" size="30" value="" name="author">
                         </p>
                         <p class="comment-form-email comment-form-input">
                             <label for="email">邮箱</label>
                             <input id="email" class="inputGroup" type="text" aria-required="true" size="30" value=""  name="email">
                         </p>
                         <p class="comment-form-url comment-form-input">
                             <label for="url">网址</label>
                             <input id="url" class="inputGroup" type="text" size="30" value="" name="url">
                         </p>
                          </div>-->

                            <p class="comment-form-comment comment-form-input">
                                <label for="comment">评论</label>
                                <textarea id="comment" class="inputGroup inputTextarea" aria-required="true" rows="8" cols="45" name="comment"></textarea>
                            </p>
                            <div class="inputSubmit" data-action="submitComment">发表评论</div>
                            <a rel="nofollow" id="cancel-comment-reply-link" href="#" style="display:none;">点击取消评论.</a>
                            <input type='hidden' name='comment_post_ID' value='#' id='comment_post_ID' />
                            <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<footer class="footer--empty"></footer>
</div>
<div class="loadingBar"></div>
<script src="../js/jquery.min.js"></script>
<script type='text/javascript'>
/* <![CDATA[ */
var obvInit = {"api":"https:\/\/fatesinger.com\/__api\/","nonce":"4a8d3d57b4","user":"0","permalink":"https:\/\/fatesinger.com\/78012","id":"78012","single":"1","preview":"","webp":"image\/webp,*\/*;q=0.8"};
/* ]]> */
</script>
<script type='text/javascript' src='../js/comment.js'></script>
<script src="../scripts/commentDetail.js"></script>
</body>
</html>