<!--
  Created by IntelliJ IDEA.
  User: wuli等等
  Date: 2017/9/23
  Time: 18:51
  To change this template use File | Settings | File Templates.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="icon" href="../images/favicon.ico">
    <link type="text/css" rel="stylesheet" href="../lib/materialize/materialize.min.css" media="screen,projection"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../editor/css/editormd.css"/>
    <link rel="stylesheet" href="../styles/markdownEditor.css">
    <title>发布</title>

</head>
<body>
<div id="layout">
    <!-- 页内容 -->
    <div class="col-lg-6 col-sm-6 col-xs-12"
         style="display: none;z-index: 998; position: absolute; top: 25%; left: 35%; width: 60%; height: 49%;"
         id="save">
        <div class="row">
            <div class="col s12 m6">
                <div class="card  blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">发布</span>
                        <div>
                            <a class="btn" onclick="selectThis(this)">文章</a>
                            <a class="btn" onclick="selectThis(this)">问题</a>
                        </div>
                        <div class="form-horizontal form-bordered" id="articleF" hidden>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" name="artTitle" id="artTitle" value="" class="validate">
                                    <label for="artTitle">文章标题：</label>
                                </div>
                            </div>
                            <input type="hidden" id="articleId" value="">
                        </div>

                        <div class="form-horizontal form-bordered" id="noticeF" hidden>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" name="artTitle" id="notTitle"  class="validate">
                                    <label for="artTitle">问题标题：</label>
                                </div>
                            </div>
                            <input type="hidden" id="notieId" >
                        </div>
                    </div>
                    <div class="card-action" id="sub" hidden>
                        <a class="waves-effect waves-light red-text darken-2" data-dismiss="modal" onclick="cancel()">
                            取消
                        </a>
                        <a class="waves-effect waves-light" id="submitT" data-mode="0" onclick="mySubmit()">提交</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div id="test-editormd">
            <textarea style="display:none;"></textarea>
        </div>
    </div>
    <!-- /Page Body -->
    <div class="fixed-action-btn" style="bottom: 100px; right: 30px;">
        <a class="waves-effect waves-light btn-floating btn-large green tooltipped" data-position="left" data-delay="5" data-tooltip="保存" id="submit">
            <i class="fa fa-location-arrow"></i>
        </a>
        <ul>
            <li>
                <a class="waves-effect waves-light btn-floating btn-large deep-orange tooltipped" id="back" data-position="left" data-delay="5" data-tooltip="返回" >
                    <i class="fa fa-reply" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
</div>

<script type="text/javascript" src="../lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../lib/materialize/materialize.min.js"></script>
<script src="../editor/js/editormd.min.js"></script>
<script src="../js/ajaxfileupload.js"></script>
<script type="text/javascript" src="../scripts/markdownEditor.js"></script>

</body>
</html>
