<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <%@ include file="common/header.jsp" %> -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../images/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="../lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link href="../css/style.css" rel="stylesheet">

    <link rel="stylesheet" href="../styles/myArticle.css">
    <title>我的文章</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li id="index"><a href="../index.html">首页</a></li>
                <li id="post"><a href="postList.html">文章分享</a></li>
                <li id="activityPage"><a href="activity.html">活动展示</a> </li>
                <li id="resource"><a href="resource.html">资源下载</a></li>
                <li id="commentPage"><a href="comments.html">讨论区</a></li>
                <li id="publish"><a href="markdownEditor.html">发布</a></li>
                <li><a href="renwu.html">老师查看</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">

                <li id="userLink" class="dropdown"><a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" id="username"><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="myArticles.html">我的文章</a></li>
                        <li><a href="userInfo.html">个人档案</a></li>
                        <li><a href="modifyPassword.html">修改密码</a></li>
                    </ul>
                </li>
                <li id="logout"><a href="login.html">退出</a></li>
                <li id="login"><a href="login.html">登录</a> </li>
            </ul>

        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<!-- contanier -->
<div class="container" id="myPostListContainer">

</div>

<footer class="footer">
    <div class="footer-bottom">
        <i class="fa fa-copyright"></i> Copyright 2017. 杭州电子科技大学<br>
    </div>
</footer>
<script id="myPostList" type="text/html">
    {{if isZero === 0}}
    <section style="margin-top: 35px;">
        {{each postLists as post i}}
        <div class="col-md-8">
            <article class="blog-post">
                <div class="blog-post-body">
                    <h3>
                        <a href="">{{post.title}}</a>
                    </h3>
                    <div class="post-meta">
                        <span>by <a href="#">{{post.profile.name}}</a></span>
                        /
                        <span><i class="fa fa-clock-o"></i>{{post.created_at}}</span>
                        /
                        <span><i class="fa fa-comment-o"></i> 1</span>

                    </div>
                    <p>{{post.description}}</p>
                    <!-- <p>最近几年，随着比特币的兴起并不断走高的价格，越来越多的投资者和机构开始对数字货币这一新兴概念产生了兴趣。由比特币创建并使用的区块链技术也获得了从创业公司到金融巨头的广泛关注和参与。</p> -->
                    <a href="postDetail.html?index={{post.id}}"><button type="button" class="btn btn-success" id="{{post.id}}">继续阅读 >></button></a>
                </div>
            </article>
        </div>
        {{/each}}
    </section>
    {{else}}
    <section style="margin-top: 70px;">
        <article class="blog-post">
            <div class="blog-post-body">
                <div style="display:flex;justify-content:center;align-items:center;" >
                    <img src="../images/icon_empty_content.png"/>
                </div>
            </div>
        </article>
    </section>
    {{/if}}
</script>
<script src="../lib/art-template/template.js"></script>
<script src="../lib/jquery/jquery.min.js"></script>
<script src="../lib/bootstrap/bootstrap.min.js"></script>
<script src="../scripts/nav.js"></script>
<script src="../scripts/myArticles.js"></script>
</body>
</html>
