<!--
  Created by IntelliJ IDEA.
  User: wuli等等
  Date: 2017/9/23
  Time: 18:15
  To change this template use File | Settings | File Templates.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../images/favicon.ico">
    <!-- Bootstrap core CSS -->
    <link href="../lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link href="../css/style.css" rel="stylesheet">
    <link href="../styles/postDetail.css" rel="stylesheet">

    <title></title>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li id="index"><a href="../index.html">首页</a></li>
                <li id="post"><a href="postList.html">文章分享</a></li>
                <li id="activityPage"><a href="activity.html">活动展示</a> </li>
                <li id="resource"><a href="resource.html">资源下载</a></li>
                <li id="commentPage"><a href="comments.html">讨论区</a></li>
                <li><a href="markdownEditor.html">发布</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">

                <li id="userLink" class="dropdown"><a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" id="username"><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="myArticles.html">我的文章</a></li>
                        <li><a href="userInfo.html">个人档案</a></li>
                    </ul>
                </li>
                <li id="logout"><a href="login.html">退出</a></li>
                <li id="login"><a href="login.html">登录</a> </li>
            </ul>

        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <section style="margin-top: 60px;">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <article class="blog-post">
                    <div class="blog-post-body">
                        <h2><a href="javascript:void(0)" id="blog_title"></a></h2>
                        <div class="post-meta">
                            <span>by <a href="#" id="author_name"></a></span>
                            / <span><i class="fa fa-clock-o"></i><span id="created_time"></span></span>
                            /<span><i class="fa fa-comment-o"></i> 0 </span>
                        </div>
                        <div class="blog-post-text">
                            <div id="test-editormd-view">
                           <textarea id="markdownView" style="display:none;"  name="test-editormd-markdown-doc">
                           </textarea>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

</div>
</section>
</div><!-- /.container -->

<footer class="footer">
    <div class="footer-bottom">
        <i class="fa fa-copyright"></i> Copyright 2017. 杭州电子科技大学<br>
    </div>
</footer>

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../lib/jquery/jquery.min.js"></script>
<script src="../lib/bootstrap/bootstrap.min.js"></script>

<script src="../js/mooz.scripts.min.js"></script>
<script src="../editor/lib/marked.min.js"></script>
<script src="../editor/lib/prettify.min.js"></script>
<script src="../editor/lib/raphael.min.js"></script>
<script src="../editor/lib/underscore.min.js"></script>
<script src="../editor/lib/sequence-diagram.min.js"></script>
<script src="../editor/lib/flowchart.min.js"></script>
<script src="../editor/lib/jquery.flowchart.min.js"></script>
<script type="text/javascript" src="../editor/js/editormd.min.js"></script>
<script src="../js/jquery.params.js"></script>
<script  src="../scripts/postDetail.js"></script>
</body>
</html>
