<!--
  Created by IntelliJ IDEA.
  User: wuli等等
  Date: 2017/9/29
  Time: 18:33
  To change this template use File | Settings | File Templates.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../images/favicon.ico">
    <!-- Bootstrap core CSS -->
    <link href="../lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link href="../css/style.css" rel="stylesheet">

    <link href="../styles/userInfo.css" rel="stylesheet">

    <title>个人档案</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li id="index"><a href="../index.html">首页</a></li>
                <li id="post"><a href="postList.html">文章分享</a></li>
                <li id="activityPage"><a href="activity.html">活动展示</a> </li>
                <li id="resource"><a href="resource.html">资源下载</a></li>
                <li id="commentPage"><a href="comments.html">讨论区</a></li>
                <li id="publish"><a href="markdownEditor.html">发布</a></li>
                <li><a href="renwu.html">老师查看</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">

                <li id="userLink" class="dropdown"><a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" id="username"><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="myArticles.html">我的文章</a></li>
                        <li><a href="userInfo.html">个人档案</a></li>
                    </ul>
                </li>
                <li id="logout"><a href="login.html">退出</a></li>
                <li id="login"><a href="login.html">登录</a> </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<div class="container" style="margin-top: 60px;">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title base_head">基本信息</h3>
                    <button type="button" class="btn btn-link info_btn" id="info_edit">编辑</button>
                    <button type="button" class="btn btn-link info_btn" id="info_cancel" >取消</button>
                    <button type="button" class="btn btn-link info_btn" id="info_save" >保存</button>
                </div>
                <div class="panel-body" id="userInfo">
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title base_head">
                        计划
                    </h3>
                    <button type="button" class="btn btn-link info_btn" id="plan_add"><a href="#add_plan_contanier" class="add_btn">添加</a></button>
                </div>
                <div class="panel-body" id="planContainer">
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        学期总评
                    </h3>
                </div>
                <table class="table">
                    <th>学年</th><th>学期 </th><th>等级评价</th>
                    <tr><td>2017-2018</td><td>1</td><td>A</td></tr>
                    <tr><td>2016-2017</td><td>2</td><td>A</td></tr>
                </table>
            </div>
            <div id="add_plan_contanier" class="panel panel-default" hidden>
                    <div class="panel-heading">
                        <span class="widget-caption">添加计划</span>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="year" class="col-sm-2 control-label">学年</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="year" placeholder="如:2016-2017">
                                </div>
                                <label for="term" class="col-sm-2 control-label">学期</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="term" placeholder="如:1">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="start_date" class="col-sm-2 control-label">开始时间</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="start_date" placeholder="格式:2017-05-20">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="end_date" class="col-sm-2 control-label">截止时间</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="end_date" placeholder="格式:2017-05-20">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="plan_details" class="col-sm-2 control-label">计划内容</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" rows="3" id="plan_details"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-7">
                                    <button id="submit_plan" class="btn  btn-success">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp提交&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
                                </div>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
    </div>

</div>
<footer class="footer">
    <div class="footer-bottom">
        <i class="fa fa-copyright"></i> Copyright 2017. 杭州电子科技大学<br>
    </div>
</footer>
<script src="../lib/jquery/jquery.min.js"></script>
<script src="../lib/bootstrap/bootstrap.min.js"></script>
<script src="../lib/art-template/template.js"></script>
<script type="text/html" id="base_form">
    <div class="row">
        <div class="col-md-7">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="f_name" class="col-sm-4 control-label">姓名</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="f_name" readonly="readonly" value="{{f_name}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="f_sex" class="col-sm-4 control-label">姓别</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="f_sex" value="{{f_sex}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="f_stdId" class="col-sm-4 control-label">学号</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="f_stdId" readonly="readonly" value="{{f_stdId}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="f_class" class="col-sm-4 control-label">班级号</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="f_class" value="{{f_class}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="f_school" class="col-sm-4 control-label">学院</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="f_school" value="{{f_school}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="f_teacher" class="col-sm-4 control-label">指导老师</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="f_teacher" readonly="readonly"  value="{{f_teacher}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="f_birth" class="col-sm-4 control-label">出生日期</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="date" id="f_birth" value="{{f_birth}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="f_phone" class="col-sm-4 control-label">手机号码</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="f_phone" value="{{f_phone}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="f_description" class="col-sm-4 control-label">个人简介</label>
                    <div class="col-sm-7">
                        <textarea class="form-control" rows="3" id="f_description">{{f_description}}</textarea>
                        <!--<input type="textarea" class="form-control" id="f_description" value="{{f_description}}"> -->
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-5">
            <div class="row avatar_container">
                <div class="avatar">
                    <img id="avatarChange" src="https://sfault-avatar.b0.upaiyun.com/389/430/3894305104-59fe90aea4ec6_huge256">
                </div>
                <div class="upload_avatar">
                        <input type="file" class="file hide"data-mode="" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg" id="avatarFile" name="file">
                    <button id="uploadAvatar2" class="btn btn-default btn-sm " type="button" onclick="uploadAvatar()">
                        上传头像
                    </button>
                </div>
            </div>
        </div>
    </div>

</script>
<script type="text/html" id="base_content">
<div class="row">
    <div class="col-md-7">
        <div class="row">
            <div class="col-md-offset-1">
                <div class="info_name">姓名:</div>
                <span id="user_name">{{username}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1">
                <div class="info_name">姓别:</div>
                <span id="user_sex">{{user_sex}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1">
                <div class="info_name">学号:</div>
                <span id="std_id">{{std_id}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1">
                <div class="info_name">班级号:</div>
                <span id="std_class">{{std_class}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1">
                <div class="info_name">学院:</div>
                <span id="std_school">{{std_school}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1">
                <div class="info_name">指导老师:</div>
                <span id="std_teacher">{{std_teacher}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1">
                <div class="info_name">出生日期:</div>
                <span id="birth">{{birth}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1">
                <div class="info_name">手机号码:</div>
                <span id="phone">{{phone}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1">
                <div class="info_name">个人简介:</div>
                <span id="description">{{description}}</span>
            </div>
        </div>
    </div>
    <div class="col-md-5">
            <img src="{{avatar}}" width="200px" height="200px" id="avatar">
    </div>
</div>
</script>

<script id="planList" type="text/html">
    <table class="table" id="planTable">
        <th>学年</th><th>学期</th>
        <th>开始-截止时间</th><th>计划详情</th><th>状态</th><th>操作</th>
        {{each planList as plan i}}
            <tr>
                <td>{{plan.year}}</td>
                <td>{{plan.term}}</td>
                    <td>{{plan.start}}至{{plan.deadline}}</td>
                    <td>{{plan.content}}</td>
                    <td>{{plan.status}}</td>
                    {{if plan.status == '未通过'}}
                    <td>
                        <a class="btn btn-primary btn-xs modifyPlan" href="#add_plan_contanier" onclick="editP(this)" data-mode='{{plan.plan_id}}'><i class="fa fa-edit"></i>编辑 </a>
                    </td>
                   {{else}}
                     <td>无</td>
                   {{/if}}
            </tr>
        {{/each}}
    </table>
</script>
<script src="../js/ajaxfileupload.js"></script>
<script src="../scripts/nav.js"></script>
<script src="../scripts/userInfo.js"></script>
</body>
</html>
