/*------------------------------------------------------------------
[Color codes]
Buttons, etc:	#726FB9 (blue)
hover color:	#fed136 (yellow)
-------------------------------------------------------------------*/
/* main font for menu. */

/*- General -*/
body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	-webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	letter-spacing: -0.04em;
	font-weight: 700;
	font-style: normal;
	font-family: "Raleway", Sans-serif;
	color: #4A4A4A;
}
p {
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	color: #000;
}
img {
	max-width: 100%;
	height: auto;
}
a {
	color: #4A4A4A;
}
a:hover, a:focus, a:active, a.active {
	color: #fec503;
}
a, a:hover, a:focus, a:active, a.active {
	outline: 0;
	text-decoration: none;
}
::selection {
	text-shadow: none;
	background: #fed136;
}
section {
	padding-bottom: 60px;
}
section:last-child {
	padding-bottom: 0px;
}
.copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}
/*- Reset bootstrap -*/
@media (min-width: 1200px) {
	.container {
		width: 1260px;
	}

	.row-gutter {
		margin-left: -20px;
		margin-right: -20px;
	}

	.col-gutter {
		padding-left: 20px;
		padding-right: 20px;
	}

	.sidebar-gutter {
		padding-left: 50px;
	}

	.navbar .navbar-nav > li > a {
		color: #fff;
	}

	header {
		margin: 130px 0 65px;
		text-align: center;
	}

	/*- BX Slaider reset -*/
	.bxslider {
		margin: 0;
		padding: 0;
	}

	.bx-wrapper .bx-viewport {
		left: 0;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		border: none;
	}

	.bx-wrapper .bx-prev {
		border: 1px solid #000;
		background-image: none !important;
		background-color: rgba(223, 223, 223, 0.34);
	}

	.bx-wrapper .bx-next {
		border: 1px solid #000;
		background-image: none !important;
		background-color: rgba(223, 223, 223, 0.34);
	}

	.bx-wrapper .bx-prev:hover {
		background-color: rgba(223, 223, 223, 0.34);
	}

	.bx-wrapper .bx-next:hover {
		background-color: rgba(223, 223, 223, 0.34);
	}

	.bx-wrapper .bx-controls-direction a {
		position: absolute;
		top: 50%;
		margin-top: -16px;
		outline: 0;
		width: 50px;
		height: 50px;
		text-indent: inherit;
		z-index: 99;
		color: #fff;
		text-align: center;
		line-height: 50px;
	}

	.slider-img-ul li img {
		position: relative;
	}

	.slider-img-ul li h2 {
		position: absolute;
		bottom: 10px;
		left: 10px;
		background-color: rgba(0, 0, 0, 0.52);
		color: #fff;
		padding: 25px 40px;
		font-size: 32px;
	}

	.slider-img-ul li h2 a {
		color: #fff;
	}

	.slider-img-ul li h2 a:hover {
		color: #dfdfdf;
	}


	/*- blog post -*/
	.blog-post {
		padding-bottom: 30px;
		margin-bottom: 60px;
		border-bottom: 1px solid #CECECE;
	}

	.blog-post:last-child {
		border-bottom: none;
	}

	.blog-post .blog-post-body {
		padding: 10px 0;
	}

	.blog-post .blog-post-body h4 {
		margin: 0;
		padding: 8px 0px 13px;
		font-size: 28px;
		line-height: 35px;
	}

	.blog-post .blog-post-body p {
		text-align: justify;
		font-size: 16px;
		font-weight: 300;
		line-height: 30px;
		color: #555;
	}

	.blog-post .blog-post-body .downbtn {
		color: #000000;
	}

	.blog-post .blog-post-body .downbtn:hover {
		color: #2296f4;
	}

	.blog-post .blog-post-body a {
		color: #4A4A4A;
		-webkit-transition: all 0.2s ease-out;
		-moz-transition: all 0.2s ease-out;
		-o-transition: all 0.2s ease-out;
		transition: all 0.2s ease-out;
	}

	.blog-post .blog-post-body a:hover {
		color: #dddddd;
	}

	.blog-post .post-meta {
		margin: 0px 0 8px;
		font-weight: 400;
		font-size: 14px;
		color: #B1B1B1;
		font-family: "Lora";
		font-style: italic;
	}


	.blog-post .post-meta span {
		padding-left: 15px;
		padding-right: 15px;
	}

	.blog-post .post-meta span:first-child {
		padding-left: 0;
		padding-right: 15px;
	}

	.blog-post .post-meta i {
		padding-right: 5px;
		font-size: 12px;
	}

	.blog-post .read-more a {
		display: inline-block;
		padding: 12px 40px;
		margin: 30px 0 0px;
		border: 1px solid;
		border-radius: 25px;
		border-color: #E6E6E6;
		background-color: #F3F3F3;
		font-family: "Open Sans", Sans-serif;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 12px;
		letter-spacing: 1.7px;
		-webkit-transition: all 0.2s ease-out;
		-moz-transition: all 0.2s ease-out;
		-o-transition: all 0.2s ease-out;
		transition: all 0.2s ease-out;
	}

	.blog-post .read-more a:hover {
		background-color: #fed136;
		border-color: #fed136;
		color: #fff;
	}

	.blog-post .blog-post-text {
		text-align: left;
	}

	.blog-post .blog-post-text p {
		text-align: justify;
		font-size: 17px;
		font-weight: 400;
		line-height: 28px;
		color: #000;
		letter-spacing: 0.1px;
		margin-bottom: 30px;
	}

	/*- Sidebar -*/
	.sidebar-title {
		background-color: #2B2B2B;
		color: #fff;
		text-align: center;
		text-transform: uppercase;
		font-weight: 800;
		letter-spacing: 0.8px;
		font-size: 14px;
		padding: 15px 0;
		margin: 0 0 25px;
		font-family: "Raleway", Sans-serif;
	}

	.down-post{
		margin-top: 15px;
		margin-bottom: 15px;
		padding-bottom: 0;
		border-bottom: 0 solid #CECECE;
	}

	.sidebar-widget {
		margin-bottom: 40px;
	}

	.sidebar-widget li {
		font-size: 17px;
		margin-bottom: 10px;
	}

	.widget-socials {
		text-align: center;
	}

	.widget-socials a {
		margin: 3px 8px;
		padding: 5px;
		font-size: 17px;
		color: #3C3C3C;
	}

	.widget-about img {
		width: 100%;
	}

	.widget-about h4 {
		text-align: center;
		margin: 20px 0 5px;
	}

	.widget-about .author-title {
		font-size: 13px;
		font-weight: 400;
		line-height: 20px;
		color: #B5B5B5;
		text-align: center;
	}

	.widget-about p {
		margin-top: 10px;
		font-size: 17px;
		line-height: 24px;
		color: #000000;
	}

	.widget-post {
		display: table;
		margin: 0 0 20px 0;
		border-bottom: 1px solid;
		border-color: #E4E4E4;
		padding-bottom: 20px;
		width: 100%;
	}

	.widget-post:last-child {
		border-bottom: none;
		padding-bottom: 0px;
		margin: 0px;
	}

	.widget-post .post-image {
		float: left;
		width: 90px;
		vertical-align: middle;
		position: relative;
		margin-right: 20px;
	}

	.widget-review .post-image {
		width: 70px;
		margin-right: 15px;
	}

	.widget-post .post-body {
		overflow: hidden;
	}

	.widget-post h2 {
		margin: 0;
		font-size: 14px;
		font-weight: 500;
		line-height: 20px;
	}

	.widget-post h2 a {
		color: #4A4A4A;
		-webkit-transition: all 0.2s ease-out;
		-moz-transition: all 0.2s ease-out;
		-o-transition: all 0.2s ease-out;
		transition: all 0.2s ease-out;
	}

	.widget-post h2 a:hover {
		color: #969696;
	}

	.widget-post .post-meta {
		margin-top: 5px;
		font-weight: 400;
		font-size: 11px;
		color: #B1B1B1;
		font-family: "Lora";
		font-style: italic;
	}

	.widget-post .post-meta span {
		margin-right: 8px;
	}

	.widget-post .post-meta span a {
		color: #B1B1B1;
	}

	.section-title {
		margin: 0 0 45px 0;
		border-top: 1px solid #505050;
		font-size: 28px;
		padding-top: 10px;
		font-weight: 300;
		color: #272727;
	}

	.section-title span {
	}

	/*- Footer -*/
	footer {
		margin-top: 25px;
		padding: 0;
		font-size: 12px;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: #717171;
		text-align: center;
		border-top: 1px solid #CECECE;
	}

	footer .footer-socials {
		margin: 60px 0 20px;
	}

	footer .footer-socials a {
		display: inline-block;
		margin-right: 5px;
		background-color: #626165;
		color: #fff;
		/* padding: 20px; */
		font-size: 20px;
		line-height: 45px;
		width: 45px;
		height: 45px;
		border-radius: 50%;
		-webkit-transition: all 0.2s ease-out;
		-moz-transition: all 0.2s ease-out;
		-o-transition: all 0.2s ease-out;
		transition: all 0.2s ease-out;
	}

	footer .footer-socials a:hover {
		background-color: #dddddd;
	}

	footer .footer-bottom {
		padding: 10px 0 40px;
	}

	.file {
		position: relative;
		display: inline-block;
		background: rgba(0,0,0,0.5);
		border: 1px solid #000000;
		border-radius: 4px;
		padding: 4px 12px;
		overflow: hidden;
		color: #FFFFFF;
		text-decoration: none;
		text-indent: 0;
		line-height: 20px;
	}
	.file input {
		position: absolute;
		font-size: 80px;
		font-weight: 400;
		right: 0;
		top: 0;
		opacity: 0;
	}
	.file:hover {
		background: rgba(0,0,0,0.2);
		color: #000000;
		text-decoration: none;
	}

	.downfile{
		margin-top: 20px;
		margin-bottom: 10px;
		font-size: 20px;
		font-weight: 400;
	}
}