.dropdown-menu{
    background-color: #222222;
}

.dropdown-menu>li>a{
    color:#fff;
}

.info_name{
    display: inline;
    color:#666;
}

.base_head{
    display: inline;
}

.info_btn{
    float: right;
   margin-top: -5px;
}

.row{
    margin-top: 10px;
}

.add_btn{
   color:#23527c;
}

a:hover{
    color:#337ab7
}

.avatar_container{
    margin-right: 10px;
}

.upload_avatar{
    text-align:center;
    margin-top: 10px;
}